services:
  clash: 
    image: ghcr.nju.edu.cn/sqing33/clash
    container_name: clash
    restart: always # 重启策略
    ports:
      - "7890:7890"
      - "7891:7891"
      - "9090:9090"
    volumes:
      - /vol3/1000/Docker/clash/config.yaml:/root/.config/clash/config.yaml
