启动前需要先创建Nginx外部挂载的配置文件（ /root/nginx/conf/nginx.conf,当服务器和容器都不存在 nginx.conf 文件时, 执行启动命令的时候 docker会将nginx.conf 作为目录创建）

# 生成容器
# docker run --name nginx -p 888:80 -d nginx:alpine

# 将容器nginx.conf文件复制到宿主机
# docker cp nginx:/etc/nginx/nginx.conf /vol3/1000/Docker/nginx/conf
# 将容器conf.d文件夹下内容复制到宿主机
# docker cp nginx:/etc/nginx/conf.d /vol2/1000/web/conf.d

# 删除nginx容器
# docker rm -f nginx

# 重新部署nginx
services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "888:80"
    volumes:
      - /vol3/1000/Docker/nginx/conf/nginx.conf:/etc/nginx/nginx.conf
      - /vol3/1000/Docker/nginx/conf/conf.d:/etc/nginx/conf.d
      - /vol2/1000/web:/var/www
    environment:
      - NGINX_HOST=foobar.com
      - NGINX_PORT=80
