version: '3.8'

services:
  pihole:
    container_name: pihole
    image: ghcr.nju.edu.cn/sqing33/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp" # Only required if you are using Pi-hole as your DHCP server
      - "80:80/tcp"
    environment:
      TZ: 'Asia/Shanghai'
    volumes:
      - '/root/date/pihole:/etc/pihole'
      - './etc-dnsmasq.d:/etc/dnsmasq.d'
    restart: unless-stopped
