version: '3.8'

services:
  portainer:
    image: ghcr.nju.edu.cn/sqing33/portainer:latest
    container_name: portainer
    restart: always
    ports:
      - "8000:8000"
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/data/portainer:/data

volumes:
  portainer_data:
