services:
  qbittorrent:
    image: ghcr.nju.edu.cn/sqing33/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - TZ=Asia/Shanghai
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    ports:
      - "18080:8080"
      - "6881:6881"
      - "6881:6881/udp"
    volumes:
      - /root/data/qbittorrent:/config
      - /nas/downloads:/downloads
    restart: unless-stopped

# 出现 Unauthorized
# 打开配置文件 qBittorrent.conf
# 在 [Preferences] 添加

# WebUI\HostHeaderValidation=false
# WebUI\CSRFProtection=false

# 设置配置文件为只读

# trackers 地址：https://github.com/XIU2/TrackersListCollection?tab=readme-ov-file
